@inherits CommonPeopleFunctions

<MudCard>
    <MudCardContent Class="personSearch">


        <div class="row">
            <div class="col-6">
                <MudTextField FullWidth="true" @bind-Value="@_searchModel.FirstName" Label="FirstName"></MudTextField>
            </div>
            <div class="col-6">
                <MudTextField FullWidth="true" @bind-Value="@_searchModel.LastName" Label="Last Name"></MudTextField>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Color="Color.Info" OnClick="@Search">Search</MudButton>
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Clear" Color="Color.Error" OnClick="@Reset">Reset</MudButton>
            </div>
        </div>
    </MudCardContent>
</MudCard>
<style>
    .personSearch {
        padding: 1%;
    }
</style>