@inherits CommonPeopleFunctions

@page "/people/{PersonId:guid}"
<h3>Person</h3>

<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
        <div class="row mb-2">
            <div class="col-6">
                <MudTextField @bind-Value="@_person.FirstName" Label="First Name"></MudTextField>
                <ValidationMessage For="() => _person.FirstName" />
            </div>
            <div class="col-6">
                <MudTextField @bind-Value="@_person.LastName" Label="Last Name"></MudTextField>
                <ValidationMessage For="() => _person.LastName" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <MudDatePicker DateFormat="MM/dd/yyyy" @bind-Date="@_person.DateOfBirth" Label="Date of Birth"></MudDatePicker>
            </div>
        </div>
        <div class="row">
            <div class="col-12 oi-align-right">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" OnClick="@SavePerson">Save</MudButton>
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="@CancelSave">Reset</MudButton>
            </div>
        </div>
</EditForm>
