@inherits CommonUserFunctions
@page "/register"

<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
        <div class="row mb-2">
            <div class="col-6">
                <MudTextField @bind-Value="@_user.FirstName" Label="First Name"></MudTextField>
                <ValidationMessage For="() => _user.FirstName" />
            </div>
            <div class="col-6">
                <MudTextField @bind-Value="@_user.LastName" Label="Last Name"></MudTextField>
                <ValidationMessage For="() => _user.LastName" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <MudTextField @bind-Value="@_user.Email" Label="E-Mail Address"></MudTextField>
                <ValidationMessage For="() => _user.Email" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <MudTextField @bind-Value="@_user.UserName" Label="User Name"></MudTextField>
                <ValidationMessage For="() => _user.UserName" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <MudTextField InputType="@_passwordInput" Label="Password" @bind-Value="@_user.Password" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" AdornmentAriaLabel="Show Password" OnAdornmentClick="ToggleShowPassword"></MudTextField>
                <ValidationMessage For="() => _user.ConfirmPassword" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <MudTextField InputType="@_passwordInput" Label="Password" @bind-Value="@_user.ConfirmPassword" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" AdornmentAriaLabel="Show Password" OnAdornmentClick="ToggleShowPassword"></MudTextField>
                <ValidationMessage For="() => _user.ConfirmPassword" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 oi-align-right">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" OnClick="@RegisterUser">Register</MudButton>
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="@CancelSave">Cancel</MudButton>
            </div>
        </div>

</EditForm>